body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
}

#webgl {
  display:block;
  height:calc(100vh);
  width: calc(100vw);
}

#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  top:0;
  left:0;
}

#container #menu {
  margin-top: 100px;
  color: #eee;
  font-family: 'Press Start 2P';
  font-size: 24px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

  width: 300px;
}

#container #menu li {
  margin-bottom:20px
}



#background {
  display:flex;
  height: 100vh;
  width: 100vw;
  z-index:-1;
  position:absolute;
  top:0;
  left:0;

}
#background .react-blur {
  min-width: 100vw;
  min-height: 100vh;
}

.image-pro {
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
